.FormModal {
  position: absolute;
  width: 100vw;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  top: 55px;
  width: 90vw;
  max-width: 450px;
  height: 85vh;
  max-height: 600px;
  background-color: var(--color-one-opaque);
  backdrop-filter: blur(15px);
  flex-grow: 1;
  z-index: 10;
  border-radius: 30px;
  box-shadow: 0px 20px 50px 5px #00000081;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-one);
  animation: move-up 1s ease-in-out 1;
}

@keyframes move-up {
  from {
    transform: translateY(650px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.routine-info-form {
  display: grid;
  grid-template-columns: 20px auto 20px;
  grid-template-rows: 50px 320px 60px 100px;
  grid-row-gap: 10px;
}

.day-question {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 1;
  padding-top: 8%;
  font-size: 0.9rem;
  text-align: center;
}

.weekday-checkboxes {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 2;
  padding-top: 8%;
  position: relative;
  left: 9%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 70px 70px 70px 70px;
  min-height: 200px;
}

.friday-right {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.saturday-right {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.sunday-right {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.left {
  grid-column-start: 1;
  grid-column-end: 2;
}

.date-choice {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 3;
  font-size: 0.85rem;
  text-align: center;
}

.optional {
  font-size: 0.6rem;
}

.date-input {
  margin-top: 15px;
}

.finish-buttons {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 4;
  align-self: center;
  display: flex;
  justify-content: space-around;
}

.quit-modal,
.add-product {
  font-size: 1rem;
  width: 80px;
  height: 35px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  color: var(--color-one);
  font-weight: bold;
}

.quit-modal {
  border: 2px solid var(--color-nine);
  color: var(--color-nine);
  box-shadow: 6px 6px 12px #87969b, -6px -6px 12px #d4dee2;
  background: linear-gradient(145deg, var(--color-one), rgb(204, 204, 204));
  transition: all 200ms ease-in-out;
}

.quit-modal:hover {
  background: linear-gradient(145deg, rgb(204, 204, 204), var(--color-one));
}

.add-product {
  background: linear-gradient(
    145deg,
    var(--color-nine-opaque),
    var(--color-nine)
  );
  box-shadow: 6px 6px 12px #87969b, -6px -6px 12px #d4dee2;
  transition: all 200ms ease-in-out;
}

.add-product:hover:hover {
  background: linear-gradient(
    145deg,
    var(--color-nine),
    var(--color-nine-opaque)
  );
}
.background-blur {
  filter: blur(3px);
}

.alert-modal {
  font-size: 0.9rem;
  color: var(--color-one);
  background: linear-gradient(
    145deg,
    var(--color-three-opaque),
    var(--color-three)
  );
  backdrop-filter: blur(10px);
  z-index: 100;
  text-align: center;
  height: auto;
  width: 80vw;
  border-radius: 15px;
  border: 1px solid var(--color-three-opaque);
  padding: 20px 10px 5px;
  position: fixed;
  top: 18vh;
  left: 5vw;
  filter: none important!;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
  animation: alert-pop-up 800ms ease-in-out;
}

@keyframes alert-pop-up {
  from {
    position: absolute;
    top: -150px;
    transform: scale(0);
  }
  to {
    position: absolute;
    top: 18vh;
    transform: scale(1);
  }
}

.alert-modal-finishing-button-wrapper {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.alert-message {
  line-height: 1.3rem;
}

.alert-modal-finishing-button-wrapper > button {
  border-radius: 8px;
  font-weight: bold;
  border: none;
  width: 100px;
  height: 40px;
  color: var(--color-one);
  cursor: pointer;
}

.cancel-alert {
  background: linear-gradient(
    145deg,
    var(--color-nine) 30%,
    var(--color-nine-dark)
  );
  box-shadow: 6px 6px 12px #212729ec, -3px -3px 20px 0px #dce2e4fd;
  transition: all 300ms ease-in-out;
}

.add-anyway {
  background: linear-gradient(
    145deg,
    var(--color-two) 30%,
    var(--color-two-dark)
  );
  box-shadow: 6px 6px 12px #3d122a, -6px -6px 22px #f8d2e7;
  transition: all 300ms ease-in-out;
}

.add-anyway:hover,
.cancel-alert:hover,
.add-product:hover,
.quit-modal:hover {
  transform: translateY(3px);
  box-shadow: none;
}

@media only screen and (min-width: 500px) {
  .alert-modal {
    width: 80%;
    left: 11%;
  }
}
