.ProductList {
  display: grid;
  grid-template-rows: [header] 100px auto;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0px 10px 15px;
  z-index: 1;
  position: sticky;
  top: 0;
  width: 100vw;
  backdrop-filter: blur(20px);
  border-bottom: 1px solid var(--color-one-opaque);
  border-radius: 0 0 35px 35px;
  animation: drop-in 800ms ease-in-out;
}

@keyframes drop-in {
  from {
    position: relative;
    top: -200px;
  }
  to {
    position: relative;
    top: 0;
  }
}

.main {
  padding: 110px 10px;
}

.filter-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.product-ul {
  padding: 100px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}
