.NameFilter {
  margin-bottom: 10px;
  position: relative;
}

.name-search-bar {
  border-radius: 30px;
  border: none;
  background-color: var(--color-two);
  color: var(--color-seven);
  font-weight: bold;
  padding-left: 43px;
  line-height: 2.4rem;
  width: 200px;
}

.name-search-button {
  border-radius: 50%;
  background-color: var(--color-one);
  border: 2px solid var(--color-two);
  color: var(--color-two);
  backdrop-filter: blur(8px);
  padding: 7px 9px 5px;
  font-size: 1.5rem;
  position: absolute;
  top: -3px;
  left: -3px;
}
