.ProductList {
  display: grid;
  grid-template-rows: [header] 100px [main] calc(100vh - 100px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  z-index: 1;
}

.main {
  padding: 100px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
