.WeeklyRoutine {
  display: grid;
  grid-template-rows: [header] 100px [main] calc(100vh - 100px);
  position: relative;
}

.weekly-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

.add-button-weekly {
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  padding: 0px 16px 8px;
  border-radius: 50%;
  font-size: 3rem;
  font-weight: bold;
  border: 5px solid var(--color-two);
  color: var(--color-two);
  background-color: var(--color-thirteen-opaque);
  backdrop-filter: blur(2px);
  cursor: pointer;
  animation: button-up 900ms cubic-bezier(0.8, 0.02, 0.54, 1.53) 300ms backwards;
}

@keyframes button-up {
  from {
    position: relative;
    bottom: 100px;
  }
  to {
    bottom: 20px;
  }
}
