@import "color.css";

*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
}

.App {
  background-image: url(./images/bottle-background.png);
  background-size: 400%;
  background-position: -400px -40px;
  background-color: var(--color-one);
  height: 100vh;
  overflow-x: hidden;
}
